@page
@model HE187005_Test1_SE1841.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <input type="text" name="SearchString" value="@Model.SearchString" placeholder="Search by name" />
    <button type="submit">Search</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].IDCard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Employee) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmpID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EmpID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EmpID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
